@using MvcKutuphane.Models.Entity
@model List<TblDuyurular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Duyurular</h2>
<br />

<table class="table table-striped">
    <tr>
        <th>DUYURU NO</th>
        <th>KATEGORİ</th>
        <th>TARİH</th>
        <th>SİL</th>
        <th>İÇERİK</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KATEGORI</td>
            <td>@x.TARIH</td>
            <td>@Html.ActionLink("Sil", "duyuruSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Duyuruyu Silmek İstiyor Musunuz?')" })</td>
            <td><a href="/Duyuru/duyuruDetay/@x.ID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Duyuru/yeniDuyuru/" class="btn btn-primary">Duyuru Ekle</a>