@using MvcKutuphane.Models.Entity
@model List<TblDuyurular>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<br />
<h2>Duyurular</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ</th>
        <th>TARİH</th>
        <th>İÇERİK</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.KATEGORI</td>
            <td>@x.TARIH</td>
            <td>@x.ICERIK</td>
        </tr>
    }
</table>