@using MvcKutuphane.Models.Entity
@model List<TblPersoneller>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personel İşlemleri</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.SOYAD</td>
            <td>@Html.ActionLink("Sil", "personelSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Personeli Silmek İstiyor Musunuz?')" })</td>
            <td><a href="/Personel/personelGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Personel/personelEkle/" class="btn btn-primary">Yeni Personel Ekle</a>