
@{
    ViewBag.Title = "yeniKonferans";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Konferans :</label>
        <input type="text" class="form-control" name="AWARD" />
    </div>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>