@model MvcCV.Models.Entity.TblInterests
@{
    ViewBag.Title = "hobiGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("hobiGuncelle", "Hobiler", FormMethod.Post))
{
    <div class="form-group">
        <label>ID :</label><br />
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control"})
        <br />
        <label>Başlık :</label><br />
        @Html.TextBoxFor(x=>x.INTEREST, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning">Güncelle</button>
    </div>
}