@model MvcCV.Models.Entity.TblSkills
@{
    ViewBag.Title = "yetenekGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("yetenekGuncelle", "Yetenekler", FormMethod.Post))
{
    <div class="form-group">
        <label>ID :</label><br />
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        <br />
        <label>Başlık :</label><br />
        @Html.TextBoxFor(x => x.SKILL, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning">Güncelle</button>
    </div>
}